.topbar {
  height: 60px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.public-btn {
  border: 1px solid #0ea5e9;
  background: transparent;
  color: #0ea5e9;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
